node_modules
.pnpm-store
.git
.gitignore
.vscode
.idea
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Builds and caches
/dist
/.turbo

# Local envs and secrets
.env
.env.*
*.pem
*.crt

# Tests and coverage
coverage
*.spec.*
*.test.*

# OS / editor junk
Thumbs.db